<!-----include header--->
<%-include('include/_header')%>
<!--/include header----->

<!---new user-->
<div class="user">
    <a href="/">
    <span><i class="fas fa-angle-double-left"></i>All Users</span>
</a>
</div>
<div class="title text-center">
    <h4>New User</h4>
    <h6>Use the below form create the new account</h6>
</div>
    <!-----include add user form--->
    <%-include('include/_form')%>
    <!--/include add user form----->
</div>

<!-----include footer--->
<%-include('include/_footer')%>
<!--/include footer----->